header {
    /* Muda o fundo para um cinza claro */
    background: #BBBBBB;
    /* Adiciona 20px de espaçamento interno no top e bottom */
    padding: 20px 0 20px;
}

/* Essa caixa é utilizada para envelopar todo o conteúdo dentro do header */
.caixa {
    /* position relative torna a caixa com 'posicionamento elevado' igual a <nav>,
       porem sem o posicionamento absoluto (solto no navegador) */
    position: relative;
    /* Para trazer seu conteúdo para a esquerda limitamos a largura da caixa */
    width: 940px;
    /* Para ficar horizontamente centralizado colocarmos um espaçamento automático */
    margin: 0 auto 0 auto;
}

nav {
    /* position o 'ponto referencia' do objeto, position pode ser:
            static: padrão
            relative: pode move-lo mas mantendo o ponto de referencia do static
            absolute: tiramos o ponto referencia dele e agora ele está solto na página
    */
    position: absolute;
    /* Definimos a posição top mais ou menos no centro do cabeçalho */
    top: 110px;
    right: 0;
}

nav li {
    /* Muda o display para exibir os componentes li em linha */
    display: inline;
    /* Adicionado margem conforme: 0 cima, 0 direira, 0 baixo, 15 pixels esquerda */
    margin: 0 0 0 15px;
}

nav a {
    /* Transforma o texto todo em maiúsculo */
    text-transform: uppercase;
    /* Altera a cor das letras para preto (sem cor) */
    color: #000000;
    /* Modifica o peso da fonte. */
    font-weight: bold;
    /* Altera o tamanho da fonte em pixels. */
    font-size: 22px;
    /* Remove a linha sublinhada de decoração que vem por padrão da tag <a>. */
    text-decoration: none;
}

/* O hover aplica determinado estilo quando o curso do usuáiro estiver em cima do elemento */
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto 0 auto;
    padding: 50px 0 50px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    /* Essa adição de 20px na lateral com 30% de largura quebra e obriga a continuar o conteúdo
       na linha de baixo, mas existe um comando que obriga esses 20px a não quebrar a borda/limite */
    padding: 30px 20px;
    /* Permite que o espaçamento lateral não fuja da borda */
    box-sizing: border-box;

    /* Border width style and color */
    border: 2px solid black;
    border-radius: 10px;
}

/* Quando o cursor passar por cima a borda fica dourada */
.produtos li:hover {
    border-color: #C78C19;
}

/* Quando estiver clicado a borda fica verde */
.produtos li:active {
    border-color: green;
}

/* Como especificamente o h2 já tem sua dimensão não adianta definir uma mudança de estilo no componente pai
   que seria o li, precisa dizer que especificamente o h2 do li terá uma mudança de estilo quando o cursor
   estiver em cima do li (li:hover) */
.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;

}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}